* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background: url(../images/background.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.header-container {
    display: flex;
    height: 58px;
    padding: 18px 79px;
    background: rgba(0, 0, 0, 0.4);
    margin-bottom: 54px;
}

.title {
    font-family: "Ubuntu";
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    margin-right: auto;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
}

.title:hover{
    color: #01813F;
}

.text-container {
    color: #ffffff;
}

.text-container a {
    text-decoration: none;
}

.icon-link {
    text-decoration: none;
    margin-right: 25px;
    color: white;
    transition: color 0.2s;
}


.welcome a:hover {
    color: #01813F;
}



.vl {
    height: 19px;
    border-left: 1px solid;
    color: rgba(255, 255, 255, 0.4);
    margin-right: 27px;
}


main {
    position: relative;
    width: 444px;
    height: 584px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 31px 60px 38px;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.box {
    position: absolute;
    top: 29px;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
}

.form-head {
    display: flex;
    justify-content: space-between;
}

.form-head span {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    margin-bottom: 15px ;
}

.form-head a {
    color: #3CB878;
    text-decoration: none;
    transition: color 0.2s;
}

.social-media {
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
    margin-bottom: 34px;
}

.social-media a {
    text-decoration: none;
}

.facebook {
    display: flex;
    width: 160px;
    height: 48px;
    background: #305DB8;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.vl-facebook {
    height: 28px;
    border-left: 1px solid;
    color: #0A162F;
    opacity: 0.1;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facebook img {
    width: 12px;
    height: 24px;
    margin: 11px 18px 11px 15px;
}

.facebook span {
    margin: 17px;
    color: #ffffff;
}


.google {
    display: flex;
    width: 160px;
    height: 48px;
    background: #DF4A32;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.google:hover {
    background-color: #AB1F09;
}

.google img {
    width: 30px;
    height: 19px;
    margin: 15px 7px 14px 12px;
}

.vl-google {
    height: 28px;
    border-left: 1px solid;
    color: #0A162F;
    opacity: 0.1;
    margin-top: 9px;
    margin-bottom: 9px;
    margin-right: 30px;
}

.google span {
    color: white;
    font-size: 16px;
    line-height: 16px;
    margin-top: 17px;
    margin-bottom: 17px;
}

.hl {
    margin-bottom: 12px;
}

.hl hr {
    border: none;
    border-top: 1px solid #F2F2F2;
    color: #333;
    overflow: visible;
    text-align: center;
}

.hl hr:after {
    background: #fff;
    content: 'or';
    padding: 0 4px;
    position: relative;
    top: -10px;
}

form input {
    height: 44px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    margin-bottom: 15px;
    padding: 15px 0 15px 19px;
}

form input:focus {
    outline: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    transition: box-shadow 0.2s;
}

.check-agree {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    cursor: pointer;
}

.check-agree svg {
    display: none;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
}

#agree {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}

#agree:checked+.check-agree svg {
    display: block;
}

.agrement a {
    color: #3CB878;
    text-decoration: none;
    transition: color 0.2s;
}

.agrement a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    color: #01813F;
}

.submit-create {
    padding: 16px 99px;
    border: none;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    color: white;
    font-size: 16px;
    line-height: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.submit-create:hover {
    background-color: #01813F;
}




